
/*
#############################################################################################################################
#
# HOJA DE ESTILOS PARA FORMULARIO DE EMPRESAS
# AMBITO: EMPRESA Y CONTACTO
# 
#	
# FORMULARIO	: Employeer_registration
# CAMPO			: FCC_COD_0 (CSS ESTILOS) EN LA PROPAGANDA
# DESARROLLADO	: FERNANDO CALDERON 
# VERSION		: 1.0
# FECHA			: 06.06.18
#
# NAME			: FCC_EMPRESAS.CSS
#
# INVOCACION LOCALHOST
# => <link rel="stylesheet" type="text/css" href="http://localhost/usb/FCC_EMPRESAS.css">
#
# INVOCACION GITHUB
# 	
#	
# => <link rel="stylesheet" type="text/css" href="http://localhost/usb/FCC_EMPRESAS.css">
# 
#
#
#############################################################################################################################
*/


/*Ocultar boton de enviar */

.login-page .buttonbar{							
	display: none;
}		

/**/ 
.form .req-msg{ 	
	display: none;		
}		 

/*Ocultar sección de mensajes de error*/ 
.alert.error{ 	 	
	display: none;		
}				

.estilo-menu { 	
	style-type: none; 	
	padding: 10px 0px 5px 10px; 	
	border-left: 3px solid #ff6d22; 	
	border-radius: 5px; 	
	color: #ff6d22; 	
	background-color: #FDECDF; 	
	font-weight: bold; 	
	font-size: 14px; 
}		

.field .field-label{ 	
	color:black; 	
	font-weight: bold; 	
	font-size: 16px; 
}		

.UL_CSS_SUBTITULO { 	
	border-radius: 3px; 	
	padding: 10px 10px 10px 10px; 	
	border-left: 5px solid #0d6dc1; 	
	color: #0d6dc1; 	
	background-color: #e2f1fd; 	
	font-size: 14px; 	
	margin: 0px; 
}		

.UL_CSS_ERROR { 	
	border-radius: 3px; 	
	padding: 10px 10px 10px 10px;				 
	border-left: 5px solid #aa3720; 	
	color: #aa3720; 	
	background-color: #fae9e5; 	
	position: relative;				 
	font-size: 14px;				 
	margin: 0px;				
}		
